#editable
{
    background-color: @base_color;
}

#readonly
{
    background-color: @insensitive_bg_color;
}

#counter_entry
{
    color: blue;
}

#info_label
{
    font-weight: bold;
    font-size: x-large;
}
